@use "./modules/animations";
@use "./modules/boxs";
@use "./modules/colors" as c;
@use "./modules/flexbox";
@use "./modules/fonts";
@use "./modules/forms";
@use "./modules/orders";
@use "./modules/positions";
@use "./modules/reset";
@use "./modules/variables";
@use "./modules/cards";


* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    font-family: sans-serif;

    &::selection {

        background-color: transparent;

    }

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: c.$zinc-200;

    main {
        padding: 16px;
        flex-grow: 100;
        width: 100%;
    }
}

.s {
    background-color: red;

    .s {
        background-color: green;


        .s {
            background-color: blue;
        }
    }
}
.screen{
    overflow: auto;
    max-height: calc(100vh - 32px);
}
.icone-circle {

    background-color: c.$gray-500;
    color: white;
    padding: 8px;
    height: 48px;
    width: 48px;
    font-size: 2rem;
    border-radius: 100%;


}
.container-filter-chart{
    height: 64px;
    width: 100%;
    background-color: c.$gray-200;
    border-radius: 6px;
}



.x-asidebar-app {
    transition: all linear 0.4s;

    padding: 8px;

    // width: 1400px;
    // flex-basis: 256px;
    .asidebar-btn-tool {

        display: flex;
        align-items: center;
        justify-content: center;
        background: c.$zinc-400;
        width: 48px;
        height: 48px;
        border-radius: 100%;

        i {
            font-size: 18px;
            color: c.$zinc-200;
        }
    }

    hr {
        height: 2px;
        border-radius: 6px;
        width: 100%;
        background-color: c.$zinc-300;



    }

    nav {

        width: 100%;

        max-width: 90%;

    }

    .aside-group-options {

        display: flex;
        flex-flow: column;
        gap: 8px;
        justify-content: center;


    }

    .aside-title-option {
        font-size: 1.2rem;
        margin-bottom: 16px;
        text-transform: capitalize;
        font-weight: lighter;
        color: c.$zinc-400;
    }

    .aside-btn-option {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        padding: 8px;
        height: 48px;
        width: 190px;
        max-width: 190px;
        font-size: 18px;
        text-transform: capitalize;
        color: c.$zinc-500;
        outline: 0;

        i {
            font-size: 1.5rem;
        }

        &:hover {

            background-color: c.$blue-600;
            color: c.$zinc-200;

        }

        &:active {
            background-color: c.$zinc-600;

        }

    }

    .active-btn-option {
        // background-color: c.$zinc-500;
        border-left: 4px solid c.$blue-600;
        color: c.$blue-600 ;
        border-radius: 0;

    }

    a {
        justify-content: first baseline;
        height: 48px;


        width: 100%;
        color: white;

        &:hover {
            background-color: c.$zinc-500;

            i {
                font-size: 22px;

                border-radius: 10%;
                // color: c.$deep-purple-500;

                transform: rotate(31deg);

            }

        }

        i {
            font-size: 22px;
            color: white;

        }
    }
}

.x-asidebar-app-collaps {
    transition: all linear 0.4s;


    width: 32px;
}

.transparent {
    background: transparent;

}

.invisible {
    opacity: 0;
}

label,
p,
h1,
h2 {
    color: c.$zinc-600;
}

//npx sass -w ./public/sass/main.scss:./public/css/style.css -s compressed