@use "./colors" as c;

.popup {
    position: absolute;
    background-color: white;
    animation: anim-enter-linear 0.5s linear;
    z-index: 100;
    box-shadow: 0 1px 8px;
}

.box {
    min-height: 400px;
    width: clamp(320px, 400px, 600px);
}

.box-x {
    min-height: 400px;
    width: clamp(320px, 600px, 640px);

}

.panel {
    background-color: c.$white;
}

//border radius
.r-4 {
    border-radius: 4px;
}

.r-8 {
    border-radius: 8px;
}

.r-12 {
    border-radius: 12px;
}

.r-16 {
    border-radius: 16px;
}

.r-22 {
    border-radius: 22px;
}

//